.link {
  text-decoration: none;
  color: black;
}

.link--hover {
  transition: 0.3s;
  padding: 5px;
}

.link--hover:hover {
  box-shadow: 0 15px 30px -5px #dcdcdc, 0 0 5px #dcdcdc;
  transform: translateY(-4px);
  border-radius: 10px;
}

.img {
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
}

.header__title {
  padding: 15px;
  margin: 0 auto;
  max-width: 1200px;
  font-weight: normal;
}

.nav {
  background-color: black;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 1200px;
}

.nav__list-item {
  margin-right: 60px;
}

.nav__list-item a {
  color: white;
  font-size: 1rem;
}

.nav__list-link {
  color: white;
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 150px 20px;
}

.top-article {
  display: flex;
  justify-content: space-between;
}

.top-article__item {
  width: 32%;
}

.top-article__img-title {
  font-size: 1rem;
  margin-bottom: 30px;
}

.readmore {
  text-align: center;
  font-size: 0.9rem;
}

.link--border {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.link--border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  transition: all 0.3s ease;
}

.link--border:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

.main-article {
  width: 65%;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.main-article__item {
  margin-bottom: 100px;
}

.main-article__img-title {
  font-size: 1.5rem;
  margin: 0;
}

.main-article__date-category {
  display: flex;
  font-size: 0.9rem;
}

.main-article__link {
  margin-right: 20px;
}

.main-article__text {
  padding: 0 30px 30px;
  line-height: 140%;
}

.side-bar {
  width: 30%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.profile__img {
  width: 50%;
  border-radius: 50%;
}

.sprofile__name {
  margin-top: 50px;
}

.profile__text {
  font-size: 0.9rem;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.ranking__item {
  margin-bottom: 50px;
  transition: 0.3s;
  padding: 10px;
}

.ranking__item:hover {
  box-shadow: 0 15px 30px -5px #dcdcdc, 0 0 5px #dcdcdc;
  transform: translateY(-4px);
  border-radius: 10px;
}

.ranking__text {
  font-size: 0.9rem;
}

.archive__list-item {
  border-top: 1px solid;
  padding: 20px;
  font-size: 0.9rem;
}

.archive__list-item:last-child {
  border-bottom: 1px solid;
}

.footer {
  background-color: #f5f5f5;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-item {
  width: 30%;
}

.footer-item__title {
  margin-bottom: 30px;
}

.footer-item__text {
  font-size: 0.8rem;
  letter-spacing: 0.2em;
}

.footer-item__list {
  margin: 20px 0;
}

.footer-item__list-item {
  padding-left: 15px;
  position: relative;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.footer-item__arrow::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-left: 0.6em solid black;
  content: '';
}

.footer-item__menu-list-item {
  padding-left: 15px;
  font-size: 0.9rem;
}

.footer-item__menu-list-item--border {
  border-top: 1px solid;
  padding: 15px;
}

.footer-item__menu-list-item:last-child {
  border-bottom: 1px solid;
}

.twitter__text {
  font-size: 0.8rem;
}

.copyright {
  text-align: center;
  padding-bottom: 10px;
  font-size: 0.7rem;
}

@media screen and (width <= 767px) {
  .header__title {
    padding: 20px 16px;
  }

  .top-article {
    flex-direction: column;
    padding-top: 0;
  }

  .top-article__item {
    width: 100%;
    margin-bottom: 30px;
  }

  .container {
    padding-top: 160px;
  }

  .main-content {
    flex-direction: column;
    padding-top: 0;
  }

  .main-article {
    width: 100%;
  }

  .side-bar {
    width: 100%;
    padding: 0;
  }

  .profile__img {
    width: 20%;
  }

  .footer-container {
    flex-direction: column;
    margin: 0 10px;
  }

  .footer-item {
    width: 100%;
    margin-bottom: 30px;
  }
}
